name: ERFAN_GSI

on:
  push:
    tags:
      - 'MIUI*'

  workflow_dispatch:

jobs:

  miui:
    runs-on: ubuntu-latest

    env:
      GSI_REPO_DIR: /home/runner/gsi
      GSI_GH_URL: https://github.com/erfanoabdi/ErfanGSIs.git
      MMX_SOURCE_URL: http://mtk-p.micromaxinfo.com/product/E6746/Software/India/MMX_E6746_SW_V10.0._HW_V1.0_20210416.zip

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: setting_up
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
        run:  |
          mkdir -p ${{ env.GSI_REPO_DIR }}
          sudo apt update
          sudo apt install -y tree default-jre liblzma-dev python2 python3 python3-pip virtualenv bc bison build-essential ccache curl flex g++-multilib gcc-multilib git gnupg gperf imagemagick lib32ncurses5-dev lib32readline-dev lib32z1-dev liblz4-tool libncurses5 libncurses5-dev libsdl1.2-dev libssl-dev libxml2 libxml2-utils lzop pngcrush rsync schedtool squashfs-tools xsltproc zip zlib1g-dev libwxgtk3.0-gtk3-dev


      - name: clone repo
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
        run:  |
          git clone --recurse-submodules ${{ env.GSI_GH_URL }} ${{ env.GSI_REPO_DIR }}
          cd ${{ env.GSI_REPO_DIR  }}
          sed 's/DEBUG=false/DEBUG=true/g' -i url2GSI.sh
          sed 's/exit 1/ /g' -i url2GSI.sh
          
      - name: start build
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
        run:  |
          cd ${{ env.GSI_REPO_DIR }}
          sudo ./setup.sh
          sudo ./url2GSI.sh --ab --cleanup ${{ env.MMX_SOURCE_URL }} MIUI

      - name: show log and compress image
        run:  |
            cd ${{ env.GSI_REPO_DIR }}/output
            sudo xz -9 -T0 -v -z *.img
            cat *.txt
            
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "${{ env.GSI_REPO_DIR }}/output/*.xz, ${{ env.GSI_REPO_DIR }}/output/*.zip, ${{ env.GSI_REPO_DIR }}/output/*.txt"
          token: ${{ secrets.GSIKEY }}

